{% extends 'index.html' %}

{% block content %}

    <h1 class="title text-center">Hello {{ user }}</h1>
        <div class="card">
            <h2>Welcome Web students!</h2>
            <p>This great project is gonna guide you through of most basic python and flas features</p>
            <p></p>
            <p>You will get task after each session and you must push your solution to your designated feature branches</p>
            <p>Best of luck to you all, your loving mentor: Blazs
            </p>
        </div>
{% endblock %}